<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppLovinSdkKey</key>
	<string>VyKBk41Xox7stEtFlCBF2axHa6RG6EbbBxov0pRokTeboVrXh0nlbi0ApSRvg1VtzHnz5CmpmOPTvE4bFsKrZL</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Gem Pop</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon57.png</string>
		<string>Icon114.png</string>
		<string>Icon72.png</string>
		<string>Icon144.png</string>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon29x29</string>
				<string>AppIcon60x60</string>
				<string>Icon57.png</string>
				<string>Icon114.png</string>
				<string>Icon72.png</string>
				<string>Icon144.png</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<true/>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon29x29</string>
				<string>AppIcon40x40</string>
				<string>AppIcon76x76</string>
				<string>AppIcon60x60</string>
				<string>Icon57.png</string>
				<string>Icon114.png</string>
				<string>Icon72.png</string>
				<string>Icon144.png</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<true/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.jidoosworldofgames.gempopper</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.2</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.jidoosworldofgames.gempopper</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>crazypoppers</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>2.0.2</string>
	<key>LSRequiresIPhoneOS</key>
	<false/>
	<key>UIApplicationExitsOnSuspend</key>
	<false/>
	<key>UIPrerenderedIcon</key>
	<string>TRUE</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>gamekit</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
