<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>basicTraining.png</key>
		<dict>
			<key>frame</key>
			<string>{{226,376},{222,186}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{222,186}}</string>
			<key>sourceSize</key>
			<string>{222,186}</string>
		</dict>
		<key>blackBackground.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,109},{256,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,192}}</string>
			<key>sourceSize</key>
			<string>{256,192}</string>
		</dict>
		<key>fourPoppers.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,303},{222,186}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{222,186}}</string>
			<key>sourceSize</key>
			<string>{222,186}</string>
		</dict>
		<key>freeGold.png</key>
		<dict>
			<key>frame</key>
			<string>{{349,928},{80,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,81}}</string>
			<key>sourceSize</key>
			<string>{80,81}</string>
		</dict>
		<key>freeGoldArrow.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,867},{118,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{118,89}}</string>
			<key>sourceSize</key>
			<string>{118,89}</string>
		</dict>
		<key>gameCenter.png</key>
		<dict>
			<key>frame</key>
			<string>{{401,840},{86,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,88}}</string>
			<key>sourceSize</key>
			<string>{86,88}</string>
		</dict>
		<key>greySubmenuLock.png</key>
		<dict>
			<key>frame</key>
			<string>{{93,867},{78,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,98}}</string>
			<key>sourceSize</key>
			<string>{78,98}</string>
		</dict>
		<key>megaPack1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,679},{221,186}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{221,186}}</string>
			<key>sourceSize</key>
			<string>{221,186}</string>
		</dict>
		<key>menu-settings.png</key>
		<dict>
			<key>frame</key>
			<string>{{401,752},{86,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,88}}</string>
			<key>sourceSize</key>
			<string>{86,88}</string>
		</dict>
		<key>moreGames.png</key>
		<dict>
			<key>frame</key>
			<string>{{261,932},{86,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,88}}</string>
			<key>sourceSize</key>
			<string>{86,88}</string>
		</dict>
		<key>moreGamesArrow.png</key>
		<dict>
			<key>frame</key>
			<string>{{438,2},{84,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,67}}</string>
			<key>sourceSize</key>
			<string>{84,67}</string>
		</dict>
		<key>musicOff.png</key>
		<dict>
			<key>frame</key>
			<string>{{313,752},{86,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,88}}</string>
			<key>sourceSize</key>
			<string>{86,88}</string>
		</dict>
		<key>musicOn.png</key>
		<dict>
			<key>frame</key>
			<string>{{261,842},{86,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,88}}</string>
			<key>sourceSize</key>
			<string>{86,88}</string>
		</dict>
		<key>popometerPack.png</key>
		<dict>
			<key>frame</key>
			<string>{{225,564},{221,186}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{221,186}}</string>
			<key>sourceSize</key>
			<string>{221,186}</string>
		</dict>
		<key>settingsBackground.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{105,434}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,434}}</string>
			<key>sourceSize</key>
			<string>{105,434}</string>
		</dict>
		<key>soundOff.png</key>
		<dict>
			<key>frame</key>
			<string>{{225,752},{86,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,88}}</string>
			<key>sourceSize</key>
			<string>{86,88}</string>
		</dict>
		<key>soundOn.png</key>
		<dict>
			<key>frame</key>
			<string>{{173,867},{86,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,88}}</string>
			<key>sourceSize</key>
			<string>{86,88}</string>
		</dict>
		<key>threePoppers.png</key>
		<dict>
			<key>frame</key>
			<string>{{260,188},{222,186}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{222,186}}</string>
			<key>sourceSize</key>
			<string>{222,186}</string>
		</dict>
		<key>twoPoppers.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,491},{221,186}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{221,186}}</string>
			<key>sourceSize</key>
			<string>{221,186}</string>
		</dict>
		<key>warehouseArrowLeft.png</key>
		<dict>
			<key>frame</key>
			<string>{{260,109},{97,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,52}}</string>
			<key>sourceSize</key>
			<string>{97,52}</string>
		</dict>
		<key>warehouseArrowRight.png</key>
		<dict>
			<key>frame</key>
			<string>{{438,88},{98,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,52}}</string>
			<key>sourceSize</key>
			<string>{98,52}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>popper-menu-spritesheet-hd.pvr.ccz</string>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:e7d0af6de308f7501d8d8ccd5adc7707:1/1$</string>
		<key>textureFileName</key>
		<string>popper-menu-spritesheet-hd.pvr.ccz</string>
	</dict>
</dict>
</plist>
