<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>basicTraining.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,305},{111,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,93}}</string>
                <key>sourceSize</key>
                <string>{111,93}</string>
            </dict>
            <key>blackBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,221},{128,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,96}}</string>
                <key>sourceSize</key>
                <string>{128,96}</string>
            </dict>
            <key>fourPoppers.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,210},{111,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,93}}</string>
                <key>sourceSize</key>
                <string>{111,93}</string>
            </dict>
            <key>freeGold.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,248},{40,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,41}}</string>
                <key>sourceSize</key>
                <string>{40,41}</string>
            </dict>
            <key>freeGoldArrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,115},{59,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,45}}</string>
                <key>sourceSize</key>
                <string>{59,45}</string>
            </dict>
            <key>gameCenter.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,397},{43,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,44}}</string>
                <key>sourceSize</key>
                <string>{43,44}</string>
            </dict>
            <key>greySubmenuLock.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,418},{39,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,49}}</string>
                <key>sourceSize</key>
                <string>{39,49}</string>
            </dict>
            <key>megaPack1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,351},{111,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,93}}</string>
                <key>sourceSize</key>
                <string>{111,93}</string>
            </dict>
            <key>menu-settings.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,459},{43,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,44}}</string>
                <key>sourceSize</key>
                <string>{43,44}</string>
            </dict>
            <key>moreGames.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,446},{43,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,44}}</string>
                <key>sourceSize</key>
                <string>{43,44}</string>
            </dict>
            <key>moreGamesArrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,204},{42,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,34}}</string>
                <key>sourceSize</key>
                <string>{42,34}</string>
            </dict>
            <key>musicOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{43,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,44}}</string>
                <key>sourceSize</key>
                <string>{43,44}</string>
            </dict>
            <key>musicOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,351},{43,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,44}}</string>
                <key>sourceSize</key>
                <string>{43,44}</string>
            </dict>
            <key>popometerPack.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{111,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,93}}</string>
                <key>sourceSize</key>
                <string>{111,93}</string>
            </dict>
            <key>settingsBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{53,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,217}}</string>
                <key>sourceSize</key>
                <string>{53,217}</string>
            </dict>
            <key>soundOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,305},{43,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,44}}</string>
                <key>sourceSize</key>
                <string>{43,44}</string>
            </dict>
            <key>soundOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,418},{43,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,44}}</string>
                <key>sourceSize</key>
                <string>{43,44}</string>
            </dict>
            <key>threePoppers.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,115},{111,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,93}}</string>
                <key>sourceSize</key>
                <string>{111,93}</string>
            </dict>
            <key>twoPoppers.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,2},{111,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,93}}</string>
                <key>sourceSize</key>
                <string>{111,93}</string>
            </dict>
            <key>warehouseArrowLeft.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,115},{49,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,26}}</string>
                <key>sourceSize</key>
                <string>{49,26}</string>
            </dict>
            <key>warehouseArrowRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,176},{49,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,26}}</string>
                <key>sourceSize</key>
                <string>{49,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>popper-menu-spritesheet.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:47de2189a1c30ab8dbd51e7173f3636f:1/1$</string>
            <key>textureFileName</key>
            <string>popper-menu-spritesheet.pvr.ccz</string>
        </dict>
    </dict>
</plist>
