<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>110gemsButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,374},{84,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{84,48}}</string>
                <key>sourceSize</key>
                <string>{84,50}</string>
            </dict>
            <key>199Button.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,943},{74,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{74,48}}</string>
                <key>sourceSize</key>
                <string>{78,50}</string>
            </dict>
            <key>20gemsButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,942},{84,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{84,48}}</string>
                <key>sourceSize</key>
                <string>{84,50}</string>
            </dict>
            <key>499Button.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,943},{74,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{74,48}}</string>
                <key>sourceSize</key>
                <string>{78,50}</string>
            </dict>
            <key>999Button.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,943},{74,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{74,48}}</string>
                <key>sourceSize</key>
                <string>{78,50}</string>
            </dict>
            <key>99Button.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,943},{74,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{74,48}}</string>
                <key>sourceSize</key>
                <string>{78,50}</string>
            </dict>
            <key>arrowBlack.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,351},{41,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{41,17}}</string>
                <key>sourceSize</key>
                <string>{43,21}</string>
            </dict>
            <key>arrowWhite.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,271},{41,17}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{41,17}}</string>
                <key>sourceSize</key>
                <string>{43,21}</string>
            </dict>
            <key>blankButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,943},{74,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{74,48}}</string>
                <key>sourceSize</key>
                <string>{78,50}</string>
            </dict>
            <key>buyGems.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,249},{365,264}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{365,264}}</string>
                <key>sourceSize</key>
                <string>{375,270}</string>
            </dict>
            <key>buyGemsButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,746},{208,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{208,63}}</string>
                <key>sourceSize</key>
                <string>{212,63}</string>
            </dict>
            <key>buyGold.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,747},{363,270}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{363,270}}</string>
                <key>sourceSize</key>
                <string>{375,276}</string>
            </dict>
            <key>buyGoldButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,249},{208,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{208,63}}</string>
                <key>sourceSize</key>
                <string>{212,63}</string>
            </dict>
            <key>freeGoldButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,249},{100,43}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{100,43}}</string>
                <key>sourceSize</key>
                <string>{104,45}</string>
            </dict>
            <key>freeHints.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,314},{162,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{162,32}}</string>
                <key>sourceSize</key>
                <string>{164,32}</string>
            </dict>
            <key>gem.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,351},{24,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,21}}</string>
                <key>sourceSize</key>
                <string>{24,21}</string>
            </dict>
            <key>gemHeader.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,249},{94,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,24}}</string>
                <key>sourceSize</key>
                <string>{96,24}</string>
            </dict>
            <key>gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,351},{24,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,21}}</string>
                <key>sourceSize</key>
                <string>{24,21}</string>
            </dict>
            <key>goldHeader.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,348},{94,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,24}}</string>
                <key>sourceSize</key>
                <string>{96,24}</string>
            </dict>
            <key>hintButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,249},{20,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,27}}</string>
                <key>sourceSize</key>
                <string>{20,27}</string>
            </dict>
            <key>hintHeader.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,616},{90,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,28}}</string>
                <key>sourceSize</key>
                <string>{90,28}</string>
            </dict>
            <key>infoIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,742},{25,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{25,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>levelCompleteBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,2},{370,268}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{370,268}}</string>
                <key>sourceSize</key>
                <string>{378,276}</string>
            </dict>
            <key>megaScorer.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,348},{22,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,16}}</string>
                <key>sourceSize</key>
                <string>{22,16}</string>
            </dict>
            <key>menuButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,629},{57,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{57,50}}</string>
                <key>sourceSize</key>
                <string>{59,50}</string>
            </dict>
            <key>musicOff-crazyPopper.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,572},{58,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{58,51}}</string>
                <key>sourceSize</key>
                <string>{60,51}</string>
            </dict>
            <key>musicOn-crazyPopper.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,554},{58,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{58,51}}</string>
                <key>sourceSize</key>
                <string>{60,51}</string>
            </dict>
            <key>needAHint.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{375,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{375,245}}</string>
                <key>sourceSize</key>
                <string>{379,247}</string>
            </dict>
            <key>nextLevel.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,889},{58,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{58,52}}</string>
                <key>sourceSize</key>
                <string>{60,52}</string>
            </dict>
            <key>noAds.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,349},{22,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>pauseBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,2},{372,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{372,245}}</string>
                <key>sourceSize</key>
                <string>{378,251}</string>
            </dict>
            <key>pauseButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,992},{29,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{29,31}}</string>
                <key>sourceSize</key>
                <string>{31,33}</string>
            </dict>
            <key>play.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,746},{208,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{208,61}}</string>
                <key>sourceSize</key>
                <string>{212,63}</string>
            </dict>
            <key>playBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,374},{370,223}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{370,223}}</string>
                <key>sourceSize</key>
                <string>{374,227}</string>
            </dict>
            <key>popometerBlue.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,249},{98,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{98,11}}</string>
                <key>sourceSize</key>
                <string>{100,11}</string>
            </dict>
            <key>popometerGreen.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,249},{96,11}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{96,11}}</string>
                <key>sourceSize</key>
                <string>{100,11}</string>
            </dict>
            <key>popometerPurple.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,249},{96,11}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{96,11}}</string>
                <key>sourceSize</key>
                <string>{100,11}</string>
            </dict>
            <key>popometerRed.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,249},{98,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{98,11}}</string>
                <key>sourceSize</key>
                <string>{100,11}</string>
            </dict>
            <key>popometerYellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,249},{98,11}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,11}}</string>
                <key>sourceSize</key>
                <string>{100,11}</string>
            </dict>
            <key>popperBlue.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,572},{33,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{33,32}}</string>
                <key>sourceSize</key>
                <string>{33,34}</string>
            </dict>
            <key>popperExplosion.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,708},{46,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{46,36}}</string>
                <key>sourceSize</key>
                <string>{48,38}</string>
            </dict>
            <key>popperGreen.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,982},{38,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{38,35}}</string>
                <key>sourceSize</key>
                <string>{40,37}</string>
            </dict>
            <key>popperLeftEye.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,351},{17,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{17,20}}</string>
                <key>sourceSize</key>
                <string>{19,22}</string>
            </dict>
            <key>popperPurple.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,707},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{33,33}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>popperRed.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,707},{44,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{44,33}}</string>
                <key>sourceSize</key>
                <string>{46,35}</string>
            </dict>
            <key>popperRightEye.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,349},{19,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,22}}</string>
                <key>sourceSize</key>
                <string>{19,22}</string>
            </dict>
            <key>popperYellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,707},{36,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,35}}</string>
                <key>sourceSize</key>
                <string>{36,35}</string>
            </dict>
            <key>powerUp1Off.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,424},{62,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{62,57}}</string>
                <key>sourceSize</key>
                <string>{64,57}</string>
            </dict>
            <key>powerUp1On.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,374},{62,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{62,57}}</string>
                <key>sourceSize</key>
                <string>{64,57}</string>
            </dict>
            <key>powerUp2Off.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,572},{62,55}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{62,55}}</string>
                <key>sourceSize</key>
                <string>{64,57}</string>
            </dict>
            <key>powerUp2On.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,490},{62,55}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{62,55}}</string>
                <key>sourceSize</key>
                <string>{64,57}</string>
            </dict>
            <key>powerUp3Off.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,943},{62,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{62,57}}</string>
                <key>sourceSize</key>
                <string>{64,57}</string>
            </dict>
            <key>powerUp3On.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,956},{62,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{62,57}}</string>
                <key>sourceSize</key>
                <string>{64,57}</string>
            </dict>
            <key>powerUp4Off.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,490},{62,55}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{62,55}}</string>
                <key>sourceSize</key>
                <string>{64,57}</string>
            </dict>
            <key>powerUp4On.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,433},{62,55}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{62,55}}</string>
                <key>sourceSize</key>
                <string>{64,57}</string>
            </dict>
            <key>powerUpDescription1.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,374},{196,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{196,89}}</string>
                <key>sourceSize</key>
                <string>{200,91}</string>
            </dict>
            <key>powerUpDescription2.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,616},{196,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{196,89}}</string>
                <key>sourceSize</key>
                <string>{200,91}</string>
            </dict>
            <key>powerUpDescription3.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,745},{196,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{196,89}}</string>
                <key>sourceSize</key>
                <string>{200,91}</string>
            </dict>
            <key>powerUpDescription4.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,616},{196,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{196,89}}</string>
                <key>sourceSize</key>
                <string>{200,91}</string>
            </dict>
            <key>powerUpDescriptions.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{371,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{371,248}}</string>
                <key>sourceSize</key>
                <string>{375,252}</string>
            </dict>
            <key>powerUpLocked.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,956},{63,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,56}}</string>
                <key>sourceSize</key>
                <string>{63,56}</string>
            </dict>
            <key>redX.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,982},{38,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{38,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>repeat.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,889},{59,52}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,52}}</string>
                <key>sourceSize</key>
                <string>{61,52}</string>
            </dict>
            <key>resumeButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,746},{234,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{234,60}}</string>
                <key>sourceSize</key>
                <string>{236,60}</string>
            </dict>
            <key>ricochet.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,707},{35,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{35,31}}</string>
                <key>sourceSize</key>
                <string>{37,33}</string>
            </dict>
            <key>roundBackgroundBlack.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,707},{346,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{346,180}}</string>
                <key>sourceSize</key>
                <string>{348,182}</string>
            </dict>
            <key>saleBanner.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,314},{77,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,35}}</string>
                <key>sourceSize</key>
                <string>{77,35}</string>
            </dict>
            <key>settings.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,889},{58,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{58,51}}</string>
                <key>sourceSize</key>
                <string>{60,51}</string>
            </dict>
            <key>soundOff-crazyPopper.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,889},{58,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{58,52}}</string>
                <key>sourceSize</key>
                <string>{60,52}</string>
            </dict>
            <key>soundOn-crazyPopper.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,889},{57,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{57,52}}</string>
                <key>sourceSize</key>
                <string>{59,52}</string>
            </dict>
            <key>tap+1.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,351},{14,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,13}}</string>
                <key>sourceSize</key>
                <string>{14,13}</string>
            </dict>
            <key>tapHere.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,943},{67,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{67,59}}</string>
                <key>sourceSize</key>
                <string>{67,61}</string>
            </dict>
            <key>tapToRemoveAd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,249},{121,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,66}}</string>
                <key>sourceSize</key>
                <string>{121,66}</string>
            </dict>
            <key>tapsHeader.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,249},{97,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{97,26}}</string>
                <key>sourceSize</key>
                <string>{97,28}</string>
            </dict>
            <key>undo.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,572},{31,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,33}}</string>
                <key>sourceSize</key>
                <string>{31,33}</string>
            </dict>
            <key>undoButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,889},{58,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{58,51}}</string>
                <key>sourceSize</key>
                <string>{60,51}</string>
            </dict>
            <key>yellowArrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,769},{25,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,31}}</string>
                <key>sourceSize</key>
                <string>{25,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>popper-levels-spritesheet.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8ee859e90482ce8646d3b813fc2da932:1/1$</string>
            <key>textureFileName</key>
            <string>popper-levels-spritesheet.pvr.ccz</string>
        </dict>
    </dict>
</plist>
